<ul class="nav">

  <li class="nav-item">
    <a class="nav-link title-menu" routerLink="/" routerLinkActive="active">
      <img src=".\..\assets\img\black-cat-vector.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Cats & Bites
    </a>
	</li>
</ul>

<ul class="nav justify-content-end">

	<li class="nav-item">
		<a class="nav-link" routerLink="/rasy" routerLinkActive="active">Rasy</a>
	</li>
  <li class="nav-item">
		<a class="nav-link" routerLink="/budowa" routerLinkActive="active">Budowa</a>
	</li>
  <li class="nav-item">
		<a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
	</li>
</ul>






